@model ABCRMALLWebsite.Models.TicketBooking

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TicketBooking</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CustomerName" class="control-label"></label>
                <input asp-for="CustomerName" class="form-control" />
                <span asp-validation-for="CustomerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MovieId" class="control-label"></label>
                <select asp-for="MovieId" class ="form-control" asp-items="ViewBag.MovieId"></select>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfTickets" class="control-label"></label>
                <input asp-for="NumberOfTickets" class="form-control" />
                <span asp-validation-for="NumberOfTickets" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShowTime" class="control-label"></label>
                <input asp-for="ShowTime" class="form-control" />
                <span asp-validation-for="ShowTime" class="text-danger"></span>
            </div>
          
            
            <div class="form-group">
                <label asp-for="TotalAmount" class="control-label"></label>
                <input asp-for="TotalAmount" class="form-control" />
                <span asp-validation-for="TotalAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookingDate" class="control-label"></label>
                <input asp-for="BookingDate" class="form-control" />
                <span asp-validation-for="BookingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookingStatus" class="control-label"></label>
                <input asp-for="BookingStatus" class="form-control" />
                <span asp-validation-for="BookingStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
